Language: Cpp
BasedOnStyle: LLVM
Standard: Auto
UseTab: Always
TabWidth: 4
IndentWidth: 4
PointerAlignment: Right
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterObjCDeclaration: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
BinPackArguments: false
BinPackParameters: false
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine:	Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: true
AccessModifierOffset: -4
AlignAfterOpenBracket: AlwaysBreak
SpacesBeforeTrailingComments: 1
AlignEscapedNewlines: Right
BreakConstructorInitializers: AfterColon
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
SpaceBeforeAssignmentOperators: true
SpaceAfterTemplateKeyword: true
SpaceBeforeParens: ControlStatements
BreakBeforeTernaryOperators: true
CompactNamespaces: true
